$branco: #fff;
:root {
    --branco: $branco;
    --meter-section-cl: #ddd;
    --pwd-str-cl-weak: #ff4d4d;
    --pwd-str-cl-medium: #ffd633;
    --pwd-str-cl-strong: #00b300;
    --pwd-str-cl-very-strong: #009900;
    --primary: #0d6efd;
    --primary-light: #cbe1ff;
}