:root {
    --branco: #fff;
    --meter-section-cl: #ddd;
    --pwd-str-cl-weak: #ff4d4d;
    --pwd-str-cl-medium: #ffd633;
    --pwd-str-cl-strong: #00b300;
    --pwd-str-cl-very-strong: #009900;
    --primary: #0d6efd;
    --primary-light: #cbe1ff;
    --alerta: rgb(155, 31, 31);
    --amarelo: rgba(242, 228, 0, 1);
    --roxo: rgba(90, 77, 140, 1);
}
