:root {
    --branco: #fff;
    --meter-section-cl: #ddd;
    --pwd-str-cl-weak: #ff4d4d;
    --pwd-str-cl-medium: #ffd633;
    --pwd-str-cl-strong: #00b300;
    --pwd-str-cl-very-strong: #009900;
    --primary: #0d6efd;
    --primary-light: #cbe1ff;
    --alerta: rgb(155, 31, 31);
    --amarelo: rgba(242, 228, 0, 1);
    --roxo: rgba(90, 77, 140, 1);
    --roxo-hover: rgb(72, 62, 112);
    --roxo-claro: #6b5f98;
    --borda-footer: #ffffff21;
    --cinza: #5C6368;
    --cinza-claro: #a3abb0;
    --cinza-mais-claro: #e4e4e4;
    --track-color:#E7F0FF;
    --borda-input: var(--cinza-mais-claro);
}
