.btn {
    border-radius: 50px;
    font-weight: 500;
    &.btn-primary {
        --bs-btn-color: var(--branco);
        --bs-btn-bg: var(--roxo);
        --bs-btn-border-color: var(--roxo);
        --bs-btn-hover-color: var(--branco);
        --bs-btn-hover-bg: var(--roxo-hover);
        --bs-btn-hover-border-color: var(--roxo-hover);
        --bs-btn-active-color: var(--branco);
        --bs-btn-active-bg: var(--roxo-hover);
        --bs-btn-active-border-color: var(--roxo);
        --bs-btn-disabled-color: var(--branco);
        --bs-btn-disabled-bg: var(--roxo);
        --bs-btn-disabled-border-color: var(--roxo);
    }
    &.btn-secondary {
        --bs-btn-color: var(--roxo);
        --bs-btn-bg: var(--cinza-mais-claro);
        background-color: var(--cinza-mais-claro);
        --bs-btn-border-color: var(--cinza-claro);
        --bs-btn-hover-color: var(--roxo);
        --bs-btn-hover-bg: var(--cinza-claro);
        --bs-btn-hover-border-color: var(--cinza-claro);
        --bs-btn-active-color: var(--roxo);
        --bs-btn-active-bg: var(--cinza-claro);
        --bs-btn-active-border-color: var(--cinza-claro);
        --bs-btn-disabled-color: var(--roxo);
        --bs-btn-disabled-bg: var(-cinza-mais-claro);
        --bs-btn-disabled-border-color: var(-cinza-mais-claro);
    }
    &.btn-warning {
        --bs-btn-color: var(--roxo);
        --bs-btn-bg: var(--amarelo);
        --bs-btn-border-color: var(--amarelo);
        --bs-btn-hover-color: var(--roxo);
        --bs-btn-hover-bg: var(--pwd-str-cl-medium);
        --bs-btn-hover-border-color: var(--pwd-str-cl-medium);
        --bs-btn-active-color: var(--roxo);
        --bs-btn-active-bg: var(--pwd-str-cl-medium);
        --bs-btn-active-border-color: var(--pwd-str-cl-medium);
        --bs-btn-disabled-color: var(--roxo);
        --bs-btn-disabled-bg: var(--amarelo);
        --bs-btn-disabled-border-color: var(--amarelo);
    }
    &.btn-outline-primary {
        --bs-btn-color: var(--roxo);
        --bs-btn-border-color: var(--roxo);
        --bs-btn-hover-color: var(--branco);
        --bs-btn-hover-bg: var(--roxo);
        --bs-btn-hover-border-color: var(--roxo);
        --bs-btn-active-color: var(--branco);
        --bs-btn-active-bg: var(--roxo);
        --bs-btn-active-border-color: var(--roxo);
        --bs-btn-disabled-color: var(--roxo);
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: var(--roxo);
        --bs-gradient: none;
    }
    &.btn-toggle-map-view {
        padding-block: 14px;
        color: var(--amarelo);
    }
    &.has-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        &.btn-warning {
            svg {
                path {
                    stroke: var(--roxo);
                }
            }
        }
    }
}
