.privacy-pages {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
    font-size: 14px;
    li + li::before {
        content: '| . ';
        color: var(--cinza-claro);
    }
    a {
        color: var(--cinza-claro);
        text-decoration: none;
    }
}
